@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 100;
  src: url('iranyekanwebthin.woff2') format('woff2'),
       url('iranyekanwebthin.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 200;
  src: url('iranyekanweblight.woff2') format('woff2'),
       url('iranyekanweblight.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 300;
  src: url('iranyekanweblight.woff2') format('woff2'),
       url('iranyekanweblight.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 400;
  src: url('iranyekanwebregular.woff2') format('woff2'),
       url('iranyekanwebregular.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 500;
  src: url('iranyekanwebmedium.woff2') format('woff2'),
       url('iranyekanwebmedium.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 600;
  src: url('iranyekanwebmedium.woff2') format('woff2'),
       url('iranyekanwebmedium.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 700;
  src: url('iranyekanwebbold.woff2') format('woff2'),
       url('iranyekanwebbold.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 800;
  src: url('iranyekanwebextrabold.woff2') format('woff2'),
       url('iranyekanwebextrabold.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 900;
  src: url('iranyekanwebextrabold.woff2') format('woff2'),
       url('iranyekanwebextrabold.woff') format('woff');
}
