@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./IRANYekanX-Eco/Webfonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./IRANYekanX-Eco/Webfonts/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./IRANYekanX-Eco/Webfonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Vazirmatn';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./Vazirmatn/fonts/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2');
}
